
/* ========================================================================================================
    RESPONSIVE
======================================================================================================== */

@media only screen and (max-width: 1230px ) {

	.wrapper {max-width: 100%; padding: 0 30px;}
	#footer .wrapper {padding: 40px 10px;}

	#topbar {position: fixed; top: 0; left: 0; z-index: 99;}
	#topbar .nome-edicao {right: 30px;}

    #header {position: fixed; height: 80px; top: 32px; top: 0; left: 0; z-index: 99;}
    #fakeheader {display: block; height: 112px; height: 80px; z-index: 1;}

    #header .logo {top: 17px; left: 30px;}



    .btn-search {top: 28px; right: 120px;}


	/* MENU ICON */
    #menuIcon {position: absolute; right: 30px; top:14px; z-index: 105; display: block;}

	/* HAMBURGER */
	.hamburger {width: 36px; height: 54px; position: absolute; right:0px; top:0px; z-index:105; font-size: 0; text-indent: -9999px; -webkit-appearance: none; box-shadow: none; border-radius: 0; border: none; cursor: pointer; opacity:0.8; float:none; display: block;  overflow: hidden; margin: 0; padding: 0;
	    -webkit-transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out; }

	.hamburger:hover { opacity:1;}
	.hamburger.hidden {opacity:0;}
	.hamburger:focus {outline: none;}

	.hamburger span {width: 100%; height: 3px; position: absolute; top: 25px; left: 0; right: 0; display: block; background-color: #000;}
	.hamburger span::before,
	.hamburger span::after {content: ""; width: 100%; height: 3px; position: absolute; left: 0; display: block; background-color: #000;}

	.hamburger.is-active span, .hamburger.is-active span::before, .hamburger.is-active span::after {background-color: #000;}
	.hamburger span::before {top: -9px;}
	.hamburger span::after {bottom: -9px;}

	.hamburger-rotate {background-color:transparent;}
	.hamburger-rotate span {transition: background 0s 0s;}
	.hamburger-rotate span::before,
	.hamburger-rotate span::after {
	    -webkit-transition-duration: 0.3s, 0.3s;
	    -moz-transition-duration: 0.3s, 0.3s;
	    -o-transition-duration: 0.3s, 0.3s;
	    -ms-transition-duration: 0.3s, 0.3s;
	    transition-duration: 0.3s, 0.3s;
	    -webkit-transition-delay: 0.3s, 0s;
	    -moz-transition-delay: 0.3s, 0s;
	    -o-transition-delay: 0.3s, 0s;
	    -ms-transition-delay: 0.3s, 0s;
	    transition-delay: 0.3s, 0s;
	}
	.hamburger-rotate span::before {
	    -webkit-transition-property: top, transform;
	    -moz-transition-property: top, transform;
	    -o-transition-property: top, transform;
	    -ms-transition-property: top, transform;
	    transition-property: top, transform;
	}
	.hamburger-rotate span::after {
	    -webkit-transition-property: bottom, transform;
	    -moz-transition-property: bottom, transform;
	    -o-transition-property: bottom, transform;
	    -ms-transition-property: bottom, transform;
	    transition-property: bottom, transform;
	}
	.hamburger-rotate.is-active {
	    background-color: transparent;
	}
	.hamburger-rotate.is-active span {
	    background: none;
	}
	.hamburger-rotate.is-active span::before {
	    top: 0;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	.hamburger-rotate.is-active span::after {
	    bottom: 0;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.hamburger-rotate.is-active span::before,
	.hamburger-rotate.is-active span::after {
	    -webkit-transition-delay: 0s, 0.3s;
	    -moz-transition-delay: 0s, 0.3s;
	    -o-transition-delay: 0s, 0.3s;
	    -ms-transition-delay: 0s, 0.3s;
	    transition-delay: 0s, 0.3s;
	}


	#header.small #menuIcon {top: 0px; left: 207px;}




	/* MENU MOBILE */


	#menu-mobile {width: 100%; height:calc(100% - 90px); position: fixed; left: 0; top: 112px; top: 80px; background-color:#000; z-index: 999; display: none;}
	#menu-mobile.opened {display: block;}

	#menu-mobile ul {margin: 30px 48px 0 0; float: right;}
	#menu-mobile ul li {float: right; clear: right; margin:0 0 20px; text-align: right;}
	#menu-mobile ul li.submenu-item {display: block;}
	#menu-mobile ul li:last-child {margin-bottom: 0;}
	#menu-mobile ul li a {font-size: 2.4rem; font-weight: 600; color: #fff; display: block;}

	#menu-mobile .social-media {width: auto; position: static; float: right; clear: right; margin:35px 48px 0 0;}
	#menu-mobile .social-media a {margin-left: 10px;}


	 #menu, #submenu {display: none;}




	 .slick-prev {left: -20px;}
	 .slick-next {right: -20px;}

}


@media only screen and (max-width: 1152px ) {







}


@media only screen and (max-width: 1023px ) {

	#noticias-section .noticia {width: 48%;}


}


@media only screen and (max-width: 880px ) {





}


@media only screen and (max-width: 767px ) {


	#noticias-section .noticia {width: 100%;}

	#topbar ul {width: 100%; height:calc(100% - 90px); position: fixed; left: 0; top: 112px; background-color:#000; z-index: 999; display: none; padding: 30px 0 0 30px;}
	#topbar ul.opened {display: block;}


	#topbar ul li {float: left; clear: left; margin:0 0 20px; text-align: left;}
	#topbar ul li:after {display: none;}
	#topbar ul li a {font-size: 2.4rem; font-weight: 600; color: #fff; display: block;}


}


/* MENOR QUE iPad Mini */
@media only screen and (max-width: 630px ) {

	h1, h2, .single-content h1 {font-size: 3rem;}

	.wrapper {padding: 0 20px;}

	#header .logo {left: 20px; top: 23px}
	#header .logo img {max-width: 200px; height: auto;}

	#menuIcon {right: 20px;}

	.btn-search {right: 90px;}

	.alignright, .alignleft, .aligncenter {width: 100%; max-width: 100%; height: auto; margin: 0 0 25px 0;}


	#noticias-section h2 {font-size: 28px;}


	/* LIST */
	#list h2 {font-size: 1.8rem; margin-top: 50px; line-height: 1.3;}
	#list h2 svg {width: 15px; height: auto; margin-right: 10px;}


}

/* MENOR QUE iPHONE 6 */
@media only screen and (max-width: 374px ) {



}

/* iPHONE 4 */
@media only screen and (max-width: 330px ) {

	#header .logo img {max-width: 160px; height: auto;}

}